In [7]:
import pandas as pd

In [19]:
s1 = pd.core.series.Series([1,2,3])
s2 = pd.core.series.Series(['One','Two','Three'])
print(pd.DataFrame(data=dict(num=s1, word=s2)))

   num   word
0    1    One
1    2    Two
2    3  Three

In [8]:
train = pd.read_csv('train.csv')
print(train)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[1460 rows x 81 columns]

In [21]:
print(df.head(2))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500

[2 rows x 81 columns]

In [12]:
print(train['SalePrice'].index)
print(train['SalePrice'].values)

RangeIndex(start=0, stop=1460, step=1)
[208500 181500 223500 ... 266500 142125 147500]

In [22]:
df = pd.DataFrame(train)

In [25]:
print(df.head())
print(df[1:3])

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9

  YrSold  SaleType  SaleCondition  SalePrice
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500

[2 rows x 81 columns]

In [24]:
print(df.values)
print(df.index)

[[1 60 'RL' ... 'WD' 'Normal' 208500]
 [2 20 'RL' ... 'WD' 'Normal' 181500]
 [3 60 'RL' ... 'WD' 'Normal' 223500]
 ...
 [1458 70 'RL' ... 'WD' 'Normal' 266500]
 [1459 20 'RL' ... 'WD' 'Normal' 142125]
 [1460 20 'RL' ... 'WD' 'Normal' 147500]]
RangeIndex(start=0, stop=1460, step=1)

In [26]:
print(df[df.MSSubClass < 30])

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1        2          20       RL         80.0     9600   Pave   NaN      Reg
6        7          20       RL         75.0    10084   Pave   NaN      Reg
10      11          20       RL         70.0    11200   Pave   NaN      Reg
12      13          20       RL          NaN    12968   Pave   NaN      IR2
13      14          20       RL         91.0    10652   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
6            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
10           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
12           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
13           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1453         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
1         5   2007        WD         Normal     181500
6         8   2007        WD         Normal     307000
10        2   2008        WD         Normal     129500
12        9   2008        WD         Normal     144000
13        8   2007       New        Partial     279500
...     ...    ...       ...            ...        ...
1453      7   2006        WD        Abnorml      84500
1454     10   2009        WD         Normal     185000
1456      2   2010        WD         Normal     210000
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[536 rows x 81 columns]

In [28]:
print(df.query('MSSubClass < 30'))

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1        2          20       RL         80.0     9600   Pave   NaN      Reg
6        7          20       RL         75.0    10084   Pave   NaN      Reg
10      11          20       RL         70.0    11200   Pave   NaN      Reg
12      13          20       RL          NaN    12968   Pave   NaN      IR2
13      14          20       RL         91.0    10652   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
6            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
10           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
12           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
13           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1453         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
1         5   2007        WD         Normal     181500
6         8   2007        WD         Normal     307000
10        2   2008        WD         Normal     129500
12        9   2008        WD         Normal     144000
13        8   2007       New        Partial     279500
...     ...    ...       ...            ...        ...
1453      7   2006        WD        Abnorml      84500
1454     10   2009        WD         Normal     185000
1456      2   2010        WD         Normal     210000
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[536 rows x 81 columns]

In [32]:
print(df.iloc[0:11, 3:5])

    LotFrontage  LotArea
0          65.0     8450
1          80.0     9600
2          68.0    11250
3          60.0     9550
4          84.0    14260
5          85.0    14115
6          75.0    10084
7           NaN    10382
8          51.0     6120
9          50.0     7420
10         70.0    11200